Source: cbpp-icon-theme
Section: x11
Priority: optional
Maintainer: Ben Young <computermouth@crunchbangplusplus.org>
Build-Depends: debhelper (>= 11)
Standards-Version: 3.9.5
Homepage: https://crunchbangplusplus.org

Package: cbpp-icon-theme
Architecture: all
Depends: ${misc:Depends}
Description: Icon theme with tilish style, by Tiheum
 Default icon themes for use with CrunchBangPlusPlus.
